@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@keyframes flexbox {
	from{width: 0%;};
	to{width: 100%;};
}
@-webkit-keyframes bg-transform {
	0% {background-position: 0% 100%;}
	50% {background-position: 100% 0%;}
	100% {background-position: 0% 100%;}
}
h1, p, seconds {
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	color: White;
	text-align:center;
}
seconds {
	font-size: large;
}
p {
	font-size: small;
}
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: inherit;
	margin: 0;
	padding: 0;
}
footer {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-flow: flex-flow;
	justify-content: center;
	align-content: center;
	align-items: center;
	transition: background-color 4s;
}
.content {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-flow: flex-flox;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flexbox {
	width: 100%;
	display: flex;
	flex-flow: flex-flow;
	justify-content: center;
	align-content: center;
	align-items: center;
	animation-name: flexbox;
	animation-duration: 1s;
}
#centre-title {
	flex: 1;
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 4s;
}
#copyright, #icons {
	flex-grow: 1;
}
#footer-separator {
	flex-grow: 8;
}